@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 5%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 9%;
    --muted-foreground: 0, 0%, 60%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 0 0% 10%;
    --input: 0 0% 17%;

    --card: 0, 0%, 7%;
    --card-foreground: 4, 0%, 91%;

    --primary: 255 100% 100%;
    --primary-foreground: 0 0% 0%;

    --secondary: 255 100% 100%;
    --secondary-foreground: 255 100% 4%;

    --accent: 255 100% 100%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 255 50% 90%;

    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
