@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 4, 0%, 7%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 4, 0%, 9%;
    --card-foreground: 4, 0%, 91%;

    --primary: 30 100% 50%;
    --primary-foreground: 30 100% 91%;

    --secondary: 255 100% 100%;
    --secondary-foreground: 255 100% 4%;

    --accent: 154 79% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 30 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}
